<%-include("partials/header.ejs")-%>

<!--add products // thro form add all the products an array so that they can be filtered -->
<h1>Dashboard</h1>
<h7> <u> use this to create new products</u></h7>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-6">
            <form action="/dashboard" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Product Name</label>
                    <input type="prod" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="prod">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Product Price</label>
                    <input type="prod" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Product Code</label>
                    <input type="prod" class="form-control" readonly id="exampleInputEmail1"   name="code" value=<%=randomId%> aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Sellers Name</label>
                    <input type="prod" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="pname">
                </div>
                <button type="submit" class="btn btn-outline-dark padding-below-50">Submit</button>
            </form>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-12 col-sm-6">
        
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start pad">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Deliveries done</div>
                </div>
            <span class="badge bg-primary rounded-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start pad">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Feedbacks</div>
            </div>
            <span class="badge bg-primary rounded-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start pad">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Unread mails</div>
            </div>
            <span class="badge bg-primary rounded-pill">13</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start pad">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Objectives</div>
            </div>
            <span class="badge bg-primary rounded-pill">34</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start pad">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Verifications left</div>
            </div>
            <span class="badge bg-primary rounded-pill">2</span>
        </li>
    </ol>
</div>
</div>
          

<div class="toast mt-3">
    <div class="toast-header">
        Hey There!
    </div>
            <div class="toast-body">
               Best Viewed on Desktop.
              This is your dashboard. You can add products , check your notications and respond the messages.
            </div>
          </div>
        </div>
        
       <style>
           .pad{
               padding: 5% 0;
           }
           .padding-below-50{
               margin-bottom: 30%;
               width:100%;
               /* justify-content: ; */
           }
           .toast{
               opacity: 0.4;
           }
       </style>

        
        <script>
        $(document).ready(function(){
                $('.toast').toast('show');
            });    
        </script>
        <style>
            .container{ 
                padding: 5% 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
            }
            @media(max-width:850px){ 
                .container { 
                    padding: 10% 0;
                    display: flex;
                    flex-shrink: 1;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        </style>

<%-include("partials/footer.ejs")-%>